<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
</head>
<body>
<div style="background-color:white;color:Black;padding:20px;">
    <h1>Incidents</h1>
    {% for incident in incidents %}
    <div>
        {%if incident.status == 'N/A'%}
        <p>
            <div id="na" class="collapse">
                <button id="na" class="accordion"><b><i><u>{{ incident.short_desc }}</u></i></b></button>
                <div class="panel" id="na_panel">
                    Status: <i>{{ incident.status }}</i> <br /><br />
                    Date: {{ incident.date }}<br /><br />
                    Description: {{ incident.description }}<br /><br />
                    Type: <b>{{ incident.type }}</b> <br /><br />
                    {% if incident.incident_details()['impacted_services'] %}
                    Impacted Services:
                    {% for service in incident.incident_details()['impacted_services'] %}
                        <br />&emsp;{{ service['name'] }}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </p>
        {%elif incident.status == 'Reported'%}
        <p>
            <div id="reported" class="collapse">
                <button id="reported" class="accordion"><b><i><u>{{ incident.short_desc }}</u></i></b></button>
                <div class="panel" id="reported_panel">
                    Status: <i>{{ incident.status }}</i> <br /><br />
                    Date: {{ incident.date }}<br /><br />
                    Description: {{ incident.description }}<br /><br />
                    Type: <b>{{ incident.type }}</b> <br /><br />
                    {% if incident.incident_details()['impacted_services'] %}
                    Impacted Services:
                    {% for service in incident.incident_details()['impacted_services'] %}
                        <br />&emsp;{{ service['name'] }}
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
        </p>
        {%elif incident.status == 'Investigating'%}
        <p>
            <div id="investigating" class="collapse">
                <button id="investigating" class="accordion"><b><i><u>{{ incident.short_desc }}</u></i></b></button>
                <div class="panel" id="investigating_panel">
                    Status: <i>{{ incident.status }}</i> <br /><br />
                    Date: {{ incident.date }}<br /><br />
                    Description: {{ incident.description }}<br /><br />
                    Type: <b>{{ incident.type }}</b> <br /><br />
                    {% if incident.incident_details()['impacted_services'] %}
                    Impacted Services:
                    {% for service in incident.incident_details()['impacted_services'] %}
                        <br />&emsp;{{ service['name'] }}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </p>
        {%elif incident.status == 'Resolved'%}
        <p>
            <div id="resolved" class="collapse">
                <button id="resolved" class="accordion"><b><i><u>{{ incident.short_desc }}</u></i></b></button>
                <div class="panel" id="resolved_panel">
                    Status: <i>{{ incident.status }}</i> <br /><br />
                    Date: {{ incident.date }}<br /><br />
                    Description: {{ incident.description }}<br /><br />
                    Type: <b>{{ incident.type }}</b> <br /><br />
                    {% if incident.incident_details()['impacted_services'] %}
                    Impacted Services:
                    {% for service in incident.incident_details()['impacted_services'] %}
                        <br />&emsp;{{ service['name'] }}
                    {% endfor %}
                    {% endif %}
                    {% if incident.incident_details()['resolved_date'] %}
                        <br />Resolved Date:  {{ incident.incident_details()['resolved_date'] }}
                    {% endif %}
                    {% if incident.incident_details()['resolution'] %}
                        <br />Resolution:  {{ incident.incident_details()['resolution'] }}
                    {% endif %}

                </div>
            </div>
        </p>
        {%endif%}
    </div>
    {%endfor%}
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>

</body>
</html>
