button.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#na {
    border-radius: 25px;
    background: blue;
    color: white;
    line-height: 75px
    height: 75px;
}
#na_panel {
    border-radius: 25px;
    background: blue;
    color: white;
    line-height: 75px
    height: 75px;
}
#na:hover {
    background: #9191ff;
}
#reported {
    border-radius: 25px;
    background: red;
    color: white;
    line-height: 75px
    height: 75px;
}
#reported_panel {
    border-radius: 25px;
    background: red;
    color: white;
    line-height: 75px
    height: 75px;
}
#reported:hover{
    background: #ff9191;
}

#investigating {
    border-radius: 25px;
    background: yellow;
    color: black;
    line-height: 75px
    height: 75px;
}
#investigating_panel {
    border-radius: 25px;
    background: yellow;
    color: black;
    line-height: 75px
    height: 75px;
}
#investigating:hover{
    background: #aaaa00
}
#resolved_panel {
    border-radius: 25px;
    background: green;
    color: white;
    line-height: 75px
    height: 75px;
}
#resolved {
    border-radius: 25px;
    background: green;
    color: white;
    line-height: 75px
    height: 75px;
}
#resolved:hover{
    background: #91ff91;
}
